<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_mood.user %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @user_mood.mood %>
</p>

<p>
  <strong>Feeling:</strong>
  <%= @user_mood.feeling %>
</p>

<%= link_to 'Edit', edit_user_mood_path(@user_mood) %> |
<%= link_to 'Back', user_moods_path %>
